In [1]:
import numpy as np
import pandas as pd
import math

# Part  1

In [3]:
tennis=pd.read_csv('play_tennis.csv')

In [4]:
tennis

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [8]:
yes=tennis[tennis['play']=='Yes'].shape[0]/tennis.shape[0]
no=tennis[tennis['play']=='No'].shape[0]/tennis.shape[0]

In [15]:
a=math.log(yes)
b=math.log(no)

In [26]:
parent=-yes*a-no*b

# Outlook Column

In [29]:
pd.crosstab(tennis['outlook'],tennis['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [43]:
oy=1
on=0
ry=3/5
rn=2/5
sy=2/5
sn=3/5

# So,the entropy of outlook overcast will be zero

In [49]:
y1=math.log(sy)
y=math.log(sn)
z1=math.log(ry)
z=math.log(rn)
e1=0 #overcast
e2=-sy*y1-sn*y
e3=-ry*z1-rn*z
e=4/14*e1+5/14*(e2+e3)
ig1=parent-e
ig1

0.17103394188032706

# Temp

In [42]:
pd.crosstab(tennis['temp'],tennis['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [46]:
cy=3/4
cn=1/4
h=2/4
my=4/6
mn=2/6

In [48]:
e1=-cy*math.log(cy)-cn*math.log(cn)
e2=-h*math.log(h)-h*math.log(h)
e3=-my*math.log(my)-mn*math.log(mn)
e=4/14*(e1+e2)+6/14*e3
ig2=parent-e
ig2

0.02025553899523247

# humidity

In [50]:
pd.crosstab(tennis['humidity'],tennis['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [51]:
hn=4/7
hy=3/7
nn=1/7
ny=6/7

In [52]:
e1=-hy*math.log(hy)-hn*math.log(hn)
e2=-ny*math.log(ny)-nn*math.log(nn)
e=7/14*(e1+e2)
ig3=parent-e
ig3

0.10524434967821283

# wind

In [54]:
pd.crosstab(tennis['wind'],tennis['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [55]:
s=3/6
wy=6/8
wn=2/8

In [56]:
e1=-wy*math.log(wy)-wn*math.log(wn)
e2=-s*math.log(s)-s*math.log(s)
e=6/14*e1+8/14*e2
ig4=parent-e
ig4

0.014671681730337949

# So,the information gain is highest on the column outlook.So,manually we have found out that the first splitting will take place on outlook column.

# Part 2

In [2]:
flowers=pd.read_csv('Iris.csv')

In [3]:
flowers

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [18]:
a=flowers[flowers['Species']=="Iris-setosa"]
b=flowers[flowers['Species']=="Iris-virginica"]
c=flowers[flowers['Species']=="Iris-versicolor"]

In [19]:
a['PetalLengthCm'].max()

1.9

In [20]:
a['PetalLengthCm'].min()

1.0

In [21]:
b['PetalLengthCm'].min()

4.5

In [22]:
b['PetalLengthCm'].max()

6.9

In [23]:
c['PetalLengthCm'].min()

3.0

In [24]:
c['PetalLengthCm'].max()

5.1

# So, as we can see,If petal length is less than 3cm then it will be setosa,the splitting criteria here will be greater than 3cm.

## Now,if petal length is greater than 3cm it can be either versicolor or virginica.

In [43]:
flower1=flowers['PetalLengthCm']>=4.5
flower2=flowers['PetalLengthCm']<=5.1
flower=flowers[flower1 & flower2]

In [74]:
flower['Species'].value_counts()

Iris-versicolor    21
Iris-virginica     16
Name: Species, dtype: int64

In [76]:
v1=21/37
v2=16/37
parent1=-v1*math.log(v1)-v2*math.log(v2)

In [84]:
pd.crosstab(flower['PetalLengthCm'],flower['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

In [86]:
#Spltting between greater than 4.5 and other
w1=8/37
w2=29/37
very=7/8
vern=1/8
e1=-very*math.log(very)-vern*math.log(vern)
ver1=14/29
vir1=15/29
e2=-ver1*math.log(ver1)-vir1*math.log(vir1)
e=w1*e1+w2*e2
ig1=parent1-e
ig1

0.05971317003501231

In [79]:
pd.crosstab(flower['PetalLengthCm'],flower['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

In [87]:
#Spltting between greater than 4.6 and other
w1=11/37
w2=26/37
veryes1=10/11
verno1=1/11
veryes2=11/26
verno2=15/26
e3=-veryes1*math.log(veryes1)-verno1*math.log(verno1)
e4=-veryes2*math.log(veryes2)-verno2*math.log(verno2)
e=w1*e3+w2*e4
ig2=parent1-e
ig2

0.1146936750735944

In [89]:
#Spltting between greater than 4.7 and other
w1=16/37
w2=21/37
vy1=15/16
vn1=1/16
vy2=6/21
vn2=15/21
e1=-vy1*math.log(vy1)-vn1*math.log(vn1)
e2=-vy2*math.log(vy2)-vn2*math.log(vn2)
e=w1*e1+w2*e2
ig3=parent1-e
ig3

0.24333092216795055

In [90]:
pd.crosstab(flower['PetalLengthCm'],flower['Species'])

Species        Iris-versicolor  Iris-virginica
PetalLengthCm
4.5                          7               1
4.6                          3               0
4.7                          5               0
4.8                          2               2
4.9                          2               3
5.0                          1               3
5.1                          1               7

In [96]:
#Spltting between greater than 4.8 and other
w1=20/37
w2=17/37
vy1=17/20
vn1=3/20
vy2=4/17
vn2=13/17
e1=-vy1*math.log(vy1)-vn1*math.log(vn1)
e2=-vy2*math.log(vy2)-vn2*math.log(vn2)
e=w1*e1+w2*e2
ig4=parent1-e
ig4

0.20481844611383704

In [97]:
#Spltting between greater than 4.9 and other
w1=25/37
w2=12/37
vy1=19/25
vn1=6/25
vy2=2/12
vn2=10/12
e1=-vy1*math.log(vy1)-vn1*math.log(vn1)
e2=-vy2*math.log(vy2)-vn2*math.log(vn2)
e=w1*e1+w2*e2
ig5=parent1-e
ig5

0.1655091705739985

In [98]:
#Spltting between greater than 5.0 and other
w1=29/37
w2=8/37
vy1=20/29
vn1=9/29
vy2=1/8
vn2=7/8
e1=-vy1*math.log(vy1)-vn1*math.log(vn1)
e2=-vy2*math.log(vy2)-vn2*math.log(vn2)
e=w1*e1+w2*e2
ig6=parent1-e
ig6

0.11706752235822915

# Highest information gain is on ig3 i.e splitting between greater than 4.7cm and others,so the splitting criteria will be greater than 4.7cm.

## If petal length is greater than 4.7 then,it will be virginica.

## If petal length is greater than 3cm and less than 4.7 cm then it will be a versicolor.